body {
  background-color:pink;
}

header {
  background-color: white;
  height:100px;
}

header h1 {
  float:left;
  font-size:28px;
  font-weight:normal;
  opacity:0.5;
}

header ul {
  float: right;
  margin-bottom: 12px;
}

.main-wrappar {
  text-align: center;
}

.title {
  color: #02ccba;
  font-weight: normal
}
